<div class="table-container">
  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for (col of columns; track col) {
          <th
            [class.hasorder]="col.order"
            [class.active-order]="pageControl.orderField === col.slug"
            [ngStyle]="{ cursor: col.order ? 'pointer' : 'default' }"
            (click)="onClickOrderBy(col.slug, col.order)"
          >
            <div class="{{col.align}}" style="color:#a2a1a8">
              {{ col.title }}
              <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
                {{ pageControl.order === 'DESC' ? 'arrow_downward' : 'arrow_upward' }}
              </i>
            </div>
          </th>
        }
      </thead>

      <tbody>
        <tr *ngIf="loading">
          <td [attr.colspan]="columns.length">
            <div id="mat-loading"><mat-spinner></mat-spinner></div>
          </td>
        </tr>

        @if (!loading) {
          <tr *ngIf="!maintenances.length">
            <td [attr.colspan]="columns.length" class="text-center">Nenhum resultado encontrado</td>
          </tr>

          @for (item of maintenances; track item) {
            <tr class="table-line-hover" style="outline:none;cursor:pointer" (click)="onRowClick(item)">
              <td>
                <div class="d-flex align-items-center" style="white-space:nowrap">
                  {{ item.created_at | date:'dd/MM/yyyy HH:mm' }}
                </div>
              </td>
              <td>
                <div class="text-start">
                  {{ item.address }} - {{ item.neighborhood }} - {{ item.city }}
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <mat-paginator
    [length]="pageControl.itemCount"
    [pageSize]="pageControl.take"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10,25,50,100]"
    [hidePageSize]="false"
    [pageIndex]="pageControl.page - 1"
    (page)="pageEvent($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
